.browsercategoryback {
  padding: 15px;
  border: 1px solid rgb(217, 217, 217);
  text-align: center;
  border-radius: 5px;
}
.browsercategoryback img {
  width: 40%;
}
.categoryhead {
      font-size: 19px;
    margin: 18px 0;
    color: rgb(54, 54, 54);
}

.borderdowncategory {
  border-bottom: 1px solid rgb(217, 217, 217);
  margin-top: 70px;
  
}
.categoryalign{
  justify-content: space-between;
  margin-bottom: 70px;
}
