@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  outline: none;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-weight: 400;
  background-color: white;
  font-family: "Poppins" !important;
}
a,
span {
  font-weight: 400;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* main padding */
.main-padding {
  padding: 80px 0;
}
.main-heading {
  font-size: 12px;
  font-weight: 400;
  color: white;
}
.main-paragraph {
  font-size: 30px;
  color: black;
  letter-spacing: 2px;
  font-weight: 600;
}
.redbutton {
  background-color: rgb(219, 68, 68);
  color: white;
  font-size: 17px;
  border-radius: 5px;
  border: none;
  padding: 16px 35px;
}
.redbutton:hover {
  background-color: rgb(180, 50, 50);
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  transition: all 0.3s ease;
}
.redhead {
  height: 27px;
  width: 14px;
  background-color: rgb(219, 68, 68);
  border-radius: 4px;
}

.redcolor {
  color: rgb(219, 68, 68);
  font-size: 14px;
  margin: 0;
}
