.hero {
  background-color: black;
  padding: 15px 0;
}
.tophead {
  display: flex;
  gap: 10px;

  justify-content: center;
  align-items: center;
}
.shopnow {
      font-size: 13px;

}
.langbtn {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}
.langbtn i {
  color: white;
}
