.closeicon i {
  float: right;
  color: red;
  font-size: 45px;
}
.logout-txt {
  text-align: center;
  font-size: 16px;

}
.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:12px;
}
.btn-danger {
  padding: 6px 39px;
}
